.accordion-pic-box {
    position: absolute;
    width: 237px;
    height: 180px;
    align-self: center;
    flex-grow: 0;
    top: -105px;
}

.illustration {
    width: 100%;
}

.bgpattern {
    width: 100%;
    margin-top: -80px;
    object-fit: contain;
    opacity: 0.8;
}

@media only screen and (min-width: 1024px) {
    .accordion-pic-box {
        width: 427px;
        height: 427px;
        top: 70px;
        left: -88.2px;
    }

    .illustration {
        width: 100%;
    }

    .bgpattern {
        width: 100%;
    }
}